/* Universal */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", "Lato", sans-serif;
  color: #484848;
}

.container {
  display: flex;
  padding: 2rem 1.5rem;
}

.grey {
  background-color: #d8d8d8;
}

.left {
  margin-right: 0.75rem;
  width: 60%;
}

.left img {
  width: 100%;
  height: auto;
}

.right {
  width: 40%;
  margin-left: 0.75rem;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 12px;
  }

  .container {
    padding: 0;
    flex-direction: column;
  }

  .left {
    width: 100%;
    margin: 0;
  }

  .right {
    width: 100%;
    margin: 0;
    padding: 2.67rem 1.33rem;
  }
}

/* Typography */

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

figcaption {
  font-size: 1.2rem;
}

a {
  margin-top: 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
}
/* Header Section */
header {
  justify-content: space-between;
  height: 4rem;
}

.mobile {
  display: none;
}

.desktop {
  padding: 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2rem;
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo span {
  font-size: 2rem;
  font-family: "Lato";
  text-transform: uppercase;
}

span.dark {
  font-weight: 700;
}

span.light {
  font-weight: 400;
  color: #a9a9a9;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav li {
  font-size: 1.25rem;
  display: inline;
  margin-left: 1rem;
}

@media only screen and (max-width: 450px) {
  .mobile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
  }

  .mobile nav {
    height: 100%;
    width: 100%;
  }

  .desktop {
    display: none;
  }
}

/* Banner Section */
#banner {
  padding: 2rem 1.5rem;
  align-items: center;
}

.right .btn {
  font-size: 1.5rem;
  width: 85%;
  padding: 0.5rem;
  background-color: #484848;
  color: #fff;
  border-width: 0;
}

#banner .right {
  height: 300px;
  justify-content: space-between;
}

@media only screen and (max-width: 450px) {
  #banner {
    padding: 0;
  }

  #banner .right {
    height: 280px;
    justify-content: flex-start;
  }

  .right h2 {
    margin-bottom: 2.67rem;
  }

  .right h4 {
    margin-bottom: 2rem;
  }

  .right .btn {
    width: 100%;
  }
}

/* Information Section */
#information .left img {
  margin-bottom: 2rem;
}

#information .left p {
  margin: 1rem 0;
}

#information .right {
  border-left: 1px solid #d8d8d8;
}

#orientation {
  padding-top: 0;
  border-top: 0;
  border-bottom: 1px solid #d8d8d8;
}

.info {
  padding: 1rem;
  display: flex;
  border-top: 1px solid #d8d8d8;
}

.info #mobile {
  display: none;
}

.info #desktop {
  width: 35%;
  height: auto;
}

.info div {
  width: 65%;
  padding-left: 1rem;
}

.info p {
  margin: 1rem 0;
}

@media only screen and (max-width: 450px) {
  #information .left {
    display: none;
  }

  #information .right,
  .info,
  #orientation {
    border: 0;
  }

  .info {
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .info #mobile {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
  }

  .info #desktop {
    display: none;
  }

  .info div {
    width: 100%;
  }

  #middle {
    margin: 5.33rem 0;
  }
}
